* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#wrapper {
    width: 100%;
    height: auto;
    margin: auto;
    background: rgb(251, 251, 251);
}

/* phần header */
.header-top {
    width: 100%;
    height: auto;
    background: #d70018;
    display: block;
    z-index: 100;
    top: 0;
    left: 0;
    position: fixed;
}

.header-container {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: block;
    position: relative;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    height: 64px;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}

.nav-brand {
    width: 200px;
    align-items: stretch;
    display: flex;
    flex-shrink: 0;
    min-height: 3.25rem;
}

.box-logo-desktop {
    width: 200px;
    color: #4a4a4a;
    display: block;
    line-height: 1.5%;
    padding: .5rem .75rem;
    position: relative;
}

.header-img {
    width: 100%;
}

.box-search {
    width: 400px;
    height: 35px;
    position: relative;
    border-radius: 5px;
    border: 0;
}

.search {
    width: 400px;
    height: 35px;
    padding-left: 10px;
    display: flex;
    border-radius: 5px;
}

.btn-search {
    width: 50px;
    height: 35px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 5px;
    background-color: white;
}

.header-item {
    display: flex;
    align-items: center;
    height: 42px;
    padding: 3px 5px;
    border-radius: 10px;
    text-decoration: none;
    position: relative;
    margin-right: 10px;
}

.about__box-icon {
    font-size: 20px;
    color: white;
    padding: 5px;
    text-align: center;
}

.about__box-content {
    font-size: 14px;
    color: white;
}

/* phần menu với slide */
.content {
    width: 1200px;
    height: 376px;
    margin: auto;
    display: flex;
    margin-top: 80px;
}

/* start menu */
.menu-container {
    width: 205px;
    height: 376px;
    margin-right: 15px;
    display: block;
    border-radius: 15px;
    overflow: auto;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 10%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}

.menu-wrapper {
    position: unset;
    height: 100%;
    overflow-y: hidden;
}

.menu-tree {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    width: 205px;
    min-height: 375px;
    top: 0;
    left: 0;
    padding: 0;
}

.label-menu-tree {
    padding: 0 10px;
    display: block;
    text-decoration: none;
}

.label-menu-tree:hover {
    padding: 0 10px;
    display: block;
    text-decoration: none;
    background-color: #e9e9e9;
}

.label-item {
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #343a40;
    min-height: 31.3px;
    cursor: pointer;
}

.label-item span {
    flex: 1;
    font-size: 12px;
    font-weight: 700;
    color: #343a40;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.icons-cate {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    text-align: center;
}

.icon-right {
    width: 7.5px;
}

/* end menu */

/* start banner */
.banner {
    width: calc(100% - 500px);
    margin-right: 15px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 10%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}

.banner-content {
    height: 376px;
}

.banner-img {
    height: 307px;
}

.banner-title {
    margin-top: 10px;
}

.banner-title .banner-outer-active {
    padding-bottom: 13px;
    box-sizing: content-box;
    border-bottom: 2.5px solid #d70018;
    font-weight: 700;
    color: #343a40;
}

.banner-outer-active {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    overflow: hidden;
}

.banner-outer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    overflow: hidden;
}

.box-right-banner {
    width: 265px;
}

.right-banner {
    width: 100%;
    max-width: 265px;
    height: 376px;
}

.right-banner-item {
    width: 100%;
    height: auto;
    margin-bottom: 11px;
    display: block;
    border-radius: 10px;
}

.right-banner-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 10%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}

/* end banner */

/* --------------------------------- */

/* phần content */
section {
    margin-top: 20px;
}

.box-content {
    max-width: 1200px;
    height: auto;
    margin: auto;
    margin-top: 30px;
}

.cate-title {
    display: none;
}

.cate-content {
    display: none;
}

.box-title {
    max-width: 1200px;
    height: 30px;
    position: relative;
    display: flex;
    line-height: 30px;
}

.title {
    font-size: 24px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

.title1 {
    position: absolute;
    top: 0;
    right: 0;
    height: 30px;
    padding: 0 10px;
    background-color: #f3f4f6;
    line-height: 30px;
    text-decoration: none;
    color: black;
    box-shadow: 0px 4px 10px rgb(0, 0, 0, 0.03), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.12);
}

.list-tag {
    position: absolute;
    top: 0;
    right: 100px;
    text-decoration: none;
}

.related-tag {
    height: 30px;
    background-color: #f3f4f6;
    line-height: 30px;
    margin: 0 10px 0 0;
    text-decoration: none;
    color: black;
    padding: 0 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgb(0, 0, 0, 0.03), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.12);
}

.related-tag:hover {
    height: 30px;
    background-color: #f3f4f6;
    line-height: 30px;
    margin: 0 10px 0 0;
    text-decoration: none;
    color: black;
    padding: 0 10px;
    border-radius: 5px;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.08), 0px 3px 4px rgba(0, 0, 0, 0.1), 0px 1px 4px -1px rgba(0, 0, 0, 0.1);
}

.product-list {
    max-width: 1200px;
    height: auto;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 220px 220px 220px 220px 220px;
    grid-template-rows: auto;
    column-gap: 25px;
}


.product {
    width: 220px;
    height: 400px;
    margin-bottom: 20px;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgb(0, 0, 0, 0.03), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.12);
}

.product:hover {
    width: 220px;
    height: 400px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.08), 0px 3px 4px rgba(0, 0, 0, 0.1), 0px 1px 4px -1px rgba(0, 0, 0, 0.1);
}

.product-img {
    height: 170px;
    text-align: center;
}

.product-img img {
    height: 160px;
    margin-top: 10px;
    text-align: center;
}

.product-name {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 14px;
}

.product-price {
    margin-top: 25px;
    margin-left: 10px;
}

.salePrice {
    color: red;
    font-size: 16px;
}

.costPrice {
    color: darkgrey;
    margin-left: 10px;
    font-size: 14px;
    text-decoration: line-through;
}

.product-desc {
    margin: 10px 10px 0 10px;
    background-color: rgb(235, 235, 235);
    border-radius: 2px;
}

.promotion {
    padding: 10px;
    font-size: 13px;
}

.product-sao {
    display: flex;
    height: 25px;
    font-size: 12px;
    margin: 10px 10px;
}

.icon-star svg path {
    fill: #f1aa0c;
}

.cate-list {
    max-width: 1440px;
    height: auto;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 111px 111px 111px 111px 111px 111px 111px 111px 111px 111px;
    column-gap: 10px;
}

.title-cate {
    position: absolute;
    top: 0;
    right: 0;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    color: black;
}

.title-cate:hover {
    color: black;
    text-decoration: underline solid rgb(17, 17, 17);
}

.item-categories-outer {
    width: 111px;
    height: 125px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgb(0, 0, 0, 0.03), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.12);
}

.item-categories-outer:hover {
    width: 111px;
    height: 125px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.08), 0px 3px 4px rgba(0, 0, 0, 0.1), 0px 1px 4px -1px rgba(0, 0, 0, 0.1);
}

.item-categories {
    width: 111px;
    height: 125px;
    display: block;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    list-style: none;
    border-radius: 10px;
    background-size: 111px 125px;
}

.item-cate-title {
    color: white;
    text-decoration: none;
    list-style: none;
}

.band-banner {
    max-width: 1200px;
    height: auto;
    margin: 30px auto;
}

.brand-banner__content {
    max-width: 1200px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 15px;
}

.brand-banner__item {
    border-radius: 5px;
}

.brand-banner__img {
    width: 290px;
    height: 122px;
    box-shadow: 2px 2px 2px 2px #e6e6e6;
    border-radius: 5px;
}

.menu-bottom-tab {
    display: none;
}

.footer {
    margin-top: 20px;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 10%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    position: relative;
    overflow-x: hidden;
    background: #fff;
}

.footer-top {
    max-width: 1200px;
    height: auto;
    margin: auto;
    padding: 15px;
}

.footer-bottom {
    width: 100%;
    background: #f8f8f8;
    margin: auto;
    padding: 15px;
}

.footer-container {
    width: 1200px;
    margin: auto;
    text-align: center;
    font-size: 10px;
}

.icon-bottom {
    width: 100%;
    height: auto;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-cps img {
    width: 80px;
    height: 38px;
}

.icon-cps1 img {
    width: 96px;
    height: 30px;
}

.cps-container {
    max-width: 1200px;
    height: auto;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 290px 290px 290px 290px;
    grid-template-rows: auto;
    column-gap: 25px;
}

.footer-top__box-one {
    width: 290px;
    height: 300px;
}


.box-one__store {
    width: 290px;
    height: auto;
    position: relative;
    margin-bottom: 20px;
}

.store__title {
    font-size: 20px;
    font-weight: bold;
}

.store__content {
    width: 290px;
    margin-top: 20px;
}

.store__content1 {
    width: 290px;
}

.list-link {
    list-style: none;
    text-decoration: none;
    padding: 0;
    font-size: 16px;
    color: black;
}

.list-link a {
    list-style: none;
    text-decoration: none;
    color: black;
}

.link {
    margin: 10px 0;
}

.box-one__pay {
    width: 290px;
    height: auto;
}

.list-pay {
    width: 290px;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
}

.warranty-logo {
    width: 290px;
    height: auto;
}

.warranty-logo-dtv {
    width: 290px;
    height: 50px;
    display: flex;
    background: #d70018;
    list-style: none;
    text-decoration: none;
    border-radius: 5px;
}

.box-left {
    width: 170px;
    height: auto;
    display: flex;
    color: white;
    font-size: 12px;
    padding: 5px 0 0 10px;
}

.box-right {
    margin: auto 0;
    margin-left: 10px;
}

.box-right img {
    width: 100px;
}

.warranty-logo-dtv-asp {
    width: 290px;
    height: 50px;
    display: flex;
    margin: 10px 0;
    background: #334168;
    list-style: none;
    text-decoration: none;
    border-radius: 5px;
}

@media only screen and (max-width: 320px) {
    #wrapper {
        width: 100%;
        height: auto;
        margin: auto;
        background: rgb(251, 251, 251);
    }

    .header-top {
        width: 100%;
        top: 0;
        left: 0;
        position: fixed;
        height: auto;
        background: #d70018;
        display: flex;
        z-index: 100;
    }

    .header-container {
        max-width: 100%;
        height: 100%;
        margin: 0 auto;
        display: block;
        position: relative;
        box-sizing: border-box;
    }

    .navbar {
        width: 100%;
        height: 64px;
        padding: 0;
        display: flex;
        margin: 0 auto;
    }

    .nav-brand {
        width: 100px;
        display: flex;
        height: 64px;
    }

    .box-logo-desktop {
        width: 100px;
        height: 64px;
        color: #4a4a4a;
        line-height: 60px;
        position: relative;
    }

    .header-img {
        width: 120%;
    }

    .box-search {
        width: 100px;
        height: 35px;
        position: relative;
        border-radius: 5px;
        border: 0;
        margin: 0 15px;
    }

    .search {
        width: 100px;
        height: 35px;
        padding-left: 10px;
        display: flex;
        border-radius: 5px;
        font-size: 9px;
    }

    .btn-search {
        width: 35px;
        height: 35px;
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 5px;
        background-color: white;
    }

    .header-item {
        display: none;
    }

    .about__cart {
        display: flex;
        align-items: center;
        height: 42px;
        border-radius: 10px;
        text-decoration: none;
        position: relative;
    }

    .about__box-icon {
        font-size: 24px;
        color: #fff;
        padding: 5px;
    }

    .about__box-content {
        font-size: 12px;
        color: white;
    }

    /* phần content */
    .content {
        width: 320px;
        height: auto;
        margin: auto;
        display: flex;
        margin-top: 80px;
    }

    .menu-container {
        display: none;
    }

    .banner {
        width: 100%;
        display: flex;
        margin: 0 10px;
    }

    .anh {
        width: 100%;
    }

    /* phần sản phẩm */
    .menu-cate {
        max-width: 320px;
        height: auto;
        margin: auto;
        margin-top: 30px;
    }

    .cate-title {
        max-width: 320px;
        height: 30px;
        position: relative;
        display: flex;
        line-height: 30px;
    }

    .title-menu {
        font-size: 14px;
        color: black;
        text-decoration: none;
        font-weight: bold;
        text-transform: uppercase;
        margin-left: 10px;
    }

    .cate-content {
        max-width: 320px;
        height: auto;
        margin: 10px 20px 0 10px;
        margin-top: 20px;
        display: grid;
        grid-template-columns: 70px 70px 70px 70px 70px 70px;
        column-gap: 10px;
        overflow-x: auto;
    }

    .item-categories-outer1 {
        width: 70px;
        height: 70px;
        margin-bottom: 50px;
        text-align: center;
    }

    .item-categories1 {
        width: 70px;
        height: 70px;
        display: block;
        text-decoration: none;
        list-style: none;
        border-radius: 5px;
        background-size: 70px 70px;
    }

    .title-under {
        font-size: 11px;
        font-weight: 700;
        line-height: 1.4;
        text-align: center;
        text-decoration: none;
        color: #444;
    }

    .box-content {
        max-width: 320px;
        height: auto;
        margin: auto;
        margin-top: 30px;
    }

    .box-title {
        max-width: 320px;
        height: 30px;
        position: relative;
        display: flex;
        line-height: 30px;
    }

    .list-tag .related-tag {
        display: none;
    }

    .title {
        font-size: 15px;
        color: black;
        text-decoration: none;
        font-weight: bold;
        text-transform: uppercase;
        margin-left: 10px;
    }

    .title1 {
        position: absolute;
        top: 0;
        right: 10px;
        height: 30px;
        padding: 0 10px;
        background-color: #fff;
        line-height: 30px;
        text-decoration: none;
        color: black;
    }

    .product-list {
        max-width: 320px;
        height: auto;
        margin: 20px 10px 0 10px;
        display: grid;
        grid-template-columns: 140px 140px 140px 140px;
        grid-template-rows: auto;
        column-gap: 10px;
        overflow-x: auto;
    }

    .product {
        width: 140px;
        height: 300px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 2px 2px 2px 2px #e6e6e6;
    }

    .product-img {
        height: 100px;
        text-align: center;
    }

    .product-img img {
        height: 100px;
        margin-top: 10px;
        text-align: center;
    }

    .product-name {
        margin-top: 20px;
        margin-left: 5px;
        margin-right: 5px;
        font-size: 12px;
    }

    .product-price {
        margin-top: 10px;
        margin-left: 5px;
    }

    .salePrice {
        color: red;
        font-size: 12px;
    }

    .costPrice {
        color: black;
        margin-left: 5px;
        font-size: 8px;
        font-weight: bold;
        text-decoration: line-through;
    }

    .product-desc {
        margin: 10px 10px 0 10px;
        background-color: rgb(235, 235, 235);
        border-radius: 2px;
    }

    .promotion {
        padding: 5px;
        font-size: 11px;
    }

    .product-sao {
        display: flex;
        height: 10px;
        font-size: 9px;
        margin: 10px 10px;
    }

    .icon-star svg path {
        fill: #f1aa0c;
    }

    .title-cate {
        position: absolute;
        top: 0;
        right: 10px;
        height: 30px;
        padding: 0 10px;
        line-height: 30px;
        text-decoration: none;
        color: black;
    }

    .cate-list {
        max-width: 320px;
        height: auto;
        margin: 10px 20px 0 10px;
        margin-top: 20px;
        display: grid;
        grid-template-columns: 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px;
        column-gap: 10px;
        overflow-x: auto;
    }

    .item-categories-outer {
        width: 70px;
        height: 84px;
        margin-bottom: 10px;
        box-shadow: 2px 2px 2px 2px #cacaca;
        border-radius: 10px;
    }

    .item-categories {
        width: 70px;
        height: 84px;
        display: block;
        padding-top: 1px;
        padding-left: 5px;
        line-height: 15px;
        border-radius: 10px;
        background-size: 70px 90px;
    }

    .item-cate-title {
        font-size: 11px;
        color: white;
        text-decoration: none;
        list-style: none;
    }

    .band-banner {
        max-width: 320px;
        height: auto;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 60px;
    }

    .brand-banner__content {
        max-width: 320px;
        margin: 20px 5px 0 5px;
        display: grid;
        grid-template-columns: 150px 150px;
        column-gap: 10px;
    }

    .brand-banner__item {
        border-radius: 5px;
        margin-bottom: 10px;
    }

    .brand-banner__img {
        width: 150px;
        height: 60px;
        box-shadow: 2px 2px 2px 2px #e6e6e6;
        border-radius: 5px;
    }

    .footer {
        display: none;
    }

    .menu-bottom-tab {
        display: flex;
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        background: #fff;
        box-shadow: 0 1px 2px 0 rgb(60 64 67 / 10%), 0 2px 6px 2px rgb(60 64 67 / 15%);
        z-index: 100;
        border-radius: 10px 10px 0 0;

    }

    .menu-bottom-list {
        width: 100%;
        display: flex;
        padding: 0;
        margin: 10px;
        list-style: none;
        text-align: center;
    }

    .menu-bottom-item {
        display: flex;
        align-items: center;
        height: 40px;
        text-decoration: none;
        position: relative;
        margin-right: 10px;
    }

    .menu-bottom-icon {
        width: 65px;
        font-size: 14px;
        color: black;
        padding: 5px;
        text-align: center;
    }

    .menu-bottom-content {
        font-size: 12px;
        color: black;
    }

}

@media screen and (max-width: 480px) {}

@media screen and (max-width: 680px) {}

@media screen and (width: 1024px) {}