/* .heading h2 {
  font-weight: 600;
  font-size: 44px;
  line-height: 56px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

button {
  font-family: 'SF Pro Display', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  background: #5555FF;
  border: 1px solid #5555FF;
  border-radius: 2px;
}

p,
.item6-content p,
.menu-footer-item a,
.item-menu a,
.item-menu span {
  width: 100%;
  font-family: 'SF Pro Display', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
} */