@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fontSFProText: 'SF Pro Text';
  --fontSFProDisplay: 'SF Pro Display';
  --fontWeight600: 600;
  --fontWeight400: 400;

  /* phần font-size */
  --fontSize56: 3.5rem;
  --fontSize44: 2.75rem;
  --fontSize28: 1.75rem;
  --fontSize20: 1.25rem;
  --fontSize18: 1.125rem;
  --fontSize16: 1rem;
  --fontSize14: 0.875rem;
  --fontSize12: 0.75rem;

  /* phần line-height */
  --line-height64: 64px;
  --line-height56: 56px;
  --line-height36: 36px;
  --line-height28: 28px;
  --line-height22: 22px;
  --line-height24: 24px;
  --line-height20: 20px;

  /* phần màu chữ */
  --color85: rgba(0, 0, 0, 0.85);
  --color45: rgba(0, 0, 0, 0.45);
  --color255: rgba(255, 255, 255);
  --color55FF: #5555FF;

  --background2FF: #F0F2FF;
  --background942: #110942;
  --backgroundfff: #FFFFFF;
  --background5ff: #5555FF;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('../font/SFProText-Regular.woff2') format('woff2'),
    url('../font/SFProText-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../font/SFProDisplay-Regular.woff2') format('woff2'),
    url('../font/SFProDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../font/SFProDisplay-Bold.woff2') format('woff2'),
    url('../font/SFProDisplay-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  padding: 0;
  font-family: 'Poppins';
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

.heading h2 {
  font-weight: 600;
  font-size: 44px;
  line-height: 56px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

button {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  background: #5555FF;
  border: 1px solid #5555FF;
  border-radius: 2px;
}

p,
.item6-content p,
.menu-footer-item a,
.item-menu a,
.item-menu span {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 400;
  font-size: var(--fontSize16);
  line-height: 24px;
}

#wrapper {
  width: 100%;
  height: auto;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1152px;
  height: auto;
  margin: 0 auto;
}

.container1 {
  width: 100%;
  max-width: 1392px;
  height: auto;
  margin: 0 auto;
}

/* phần header */
.header {
  width: 100%;
  height: 98px;
  margin: auto;
  padding: 24px 0;
}

.header-wrapper {
  width: 100%;
  height: auto;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box-logo img {
  width: 144px;
  height: 36px;
}

/* phần menu  */
.box-menu {
  width: 524px;
  height: 50px;
}

.menu {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
}

.menu-item {
  list-style: none;
}

.menu-item a {
  font-weight: var(--fontWeight600);
  font-size: var(--fontSize16);
  line-height: var(--line-height24);
  text-decoration: none;
  color: var(--color85);
}

/* phần header right */
.header-right {
  width: 100%;
  max-width: 209px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.search-box {
  padding: 7px 11px;
}

.header-buttom button {
  padding: 5px 16px;
  font-family: var(--fontSFProText);
  font-style: normal;
  font-weight: var(--fontWeight400);
  font-size: var(--fontSize14);
  line-height: var(--line-height22);
  border: 1px solid #5555FF;
  background-color: #fff;
  color: var(--color55FF);
}

.header-buttom button:hover {
  color: #fff;
  background-color: var(--color55FF);
  transition: all 0.2s;
}

.icon-menu-none {
  display: none;
}

/* phần box-section */
.box-section {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 100px 0 160px 0;
}

.box {
  flex: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

/* phần box left */
.box-section-left {
  flex: 0 0 50%;
  max-width: 556px;
  height: auto;
}

.box-section-title {
  width: 100%;
  height: auto;
  margin-bottom: 36px;
}

.title {
  font-weight: var(--fontWeight600);
  font-size: var(--fontSize56);
  line-height: var(--line-height64);
  color: var(--color85);
  margin-bottom: 20px;
}

.sub-title {
  font-family: var(--fontSFProDisplay);
  font-weight: var(--fontWeight400);
  font-size: var(--fontSize18);
  line-height: var(--line-height28);
  color: var(--color85);
}

.box-section-center {
  width: 100%;
  max-width: 426px;
  height: 76px;
  padding: 12px 32px;
  background: #FAFAFA;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rank-section {
  width: 110px;
}

.rank-title {
  font-style: normal;
  font-weight: var(--fontWeight600);
  font-size: var(--fontSize20);
  line-height: var(--line-height28);
  color: var(--color85);
}

.rank-sub-title {
  font-family: var(--fontSFProDisplay);
  font-style: normal;
  font-weight: var(--fontWeight400);
  font-size: var(--fontSize16);
  line-height: var(--line-height24);
  color: var(--color45);
}

.box-section-bottom {
  margin-top: 36px;
}

.box-section-bottom button,
.box-section7-bottom button {
  padding: 12px 24px 12px 24px;
  margin-bottom: 8px;
}

.box-section-bottom button:hover,
.box-section7-bottom button:hover {
  background: #fff;
  color: #5555FF;
  transition: all 0.2s;
}

.bottom-title {
  font-family: var(--fontSFProText);
  font-style: normal;
  font-weight: var(--fontWeight400);
  font-size: var(--fontSize12);
  line-height: var(--line-height20);
  color: var(--color45);
}

/* phần box right */
.box-section-right {
  flex: 0 0 50%;
  max-width: 556px;
  height: auto;
}

.box-section-right img {
  width: 100%;
  max-width: 556px;
  height: auto;
}

/* phần css box section 1 */
.box-section1,
.box-section7 {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 100px 0 140px 0;
  background: var(--background2FF)
}

.box1,
.box5,
.box6,
.box7,
.box9,
.box10 {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.box-section1-heading h2,
.box-section10-heading h2,
.box-section11-heading h2,
.box-section3-heading h2,
.box-section4-heading h2,
.box-section5-heading h2 {
  color: var(--color85);
}

/* phần box-section1-center */
.box-section1-center {
  width: 100%;
  height: auto;
  margin-top: 80px;
  gap: 80px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section1-item {
  width: 357px;
  height: 156px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 32px;
}

.item-icon {
  width: 48px;
  height: 48px;
  margin-bottom: 24px;
}

.item-icon img {
  width: 100%;
  height: auto;
}

.item-content h3 {
  font-weight: var(--fontWeight600);
  font-size: var(--fontSize20);
  line-height: var(--line-height28);
  color: var(--color85);
  margin-bottom: 8px;
}

.item-content p {
  color: var(--color85);
}

/* phần box-section2 */
.box-section2 {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 80px 0;
  background: var(--background942);
}

.box2,
.box8,
.box12 {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.box2 {
  overflow: hidden;
}

.box-section2-heading h2 {
  margin-bottom: 48px;
}

.box-section2-heading h2,
.box-section8-heading h2 {
  color: var(--color255);
}

.heading1 {
  display: none;
}

.box-section2-slide {
  width: 1190px;
  height: auto;
  margin: 0 -20px;
  /* display: flex; */
  padding-bottom: 60px;
}

.section2-item {
  width: 358px;
  height: 268px;
  display: flex;
  flex-direction: column;
  border: 1px solid #F0F0F0;
  border-radius: 2px;
  margin: 0 20px;
}

.item-img {
  width: 100%;
  height: auto;
}

.item-desc {
  height: 68px;
  padding: 20px 24px;
  background: var(--backgroundfff);
}

.item-desc h3 {
  font-weight: var(--fontWeight600);
  font-size: var(--fontSize20);
  line-height: var(--line-height28);
  color: var(--color85);
}

.item-desc p {
  color: var(--color45);
  display: none;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 1;
  z-index: 5;
  transition: all 0.2s linear;
}

.slick-arrow:hover {
  background-color: #2cccff;
  color: white;
}

.slick-slide {
  width: auto;
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}

.slick-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex !important;
  align-items: center;
  justify-content: center;
  gap: 0 20px;
  list-style: none;
}

.slick-dots button {
  font-size: 0;
  width: 12px;
  height: 12px;
  border-radius: 100rem;
  background-color: #fff;
  opacity: 0.5;
  border: none;
  outline: none;
  transition: all 0.2s linear;
}

.slick-dots .slick-active button {
  background-color: #5555ff;
}


.box-section2-bottom {
  margin: 48px auto 0 auto;
}

.box-section2-bottom-none button {
  display: none;
}

.box-section2-bottom button,
.box-section2-bottom-none button {
  padding: 12px 27px;
}

.box-section2-bottom button:hover {
  background: #fff;
  color: #5555FF;
  transition: all 0.2s;
}

/* phần box-section3 */
.box-section3 {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding-block: 100px 72px;
  background: var(--background2FF)
}

.box3,
.box4 {
  flex: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* phần .box-section3-left */
.box-section3-left,
.box-section4-right {
  flex: 50%;
  max-width: 457px;
  height: auto;
}

.box-section3-center,
.box-section4-center {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

.section3-item,
.section4-item {
  margin-bottom: 32px;
}

.section3-item h3,
.section4-item h3 {
  font-weight: var(--fontWeight600);
  font-size: var(--fontSize20);
  line-height: var(--line-height28);
  color: var(--color85);
  margin-bottom: 8px;
}

.section3-item p,
.section4-item p {
  color: var(--color85);
}

.box-section3-bottom,
.box-section4-bottom {
  margin-top: 28px;
}

.button-none {
  display: none;
}

.box-section3-bottom button,
.box-section4-bottom button {
  padding: 12px 24.8px;
}

.box-section3-bottom button:hover,
.box-section4-bottom button:hover {
  background: #fff;
  color: #5555FF;
  transition: all 0.2s;
}


/* phần css .box-section3-right */
.box-section3-right,
.box-section4-left {
  flex: 50%;
  max-width: 556px;
  display: flex;
  align-items: center;
}

.box-section3-right img,
.box-section4-left img {
  width: 100%;
}

/* phần box-section4 */
.box-section4 {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding-block: 100px 72px;
}

/* phần box-section5 */
.box-section5,
.box-section9 {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding-block: 100px 140px;
  background: var(--background2FF)
}

/* phần box-section5-wrapper */
.box-section5-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  overflow: hidden;
}

.section5-wrapper {
  width: 100%;
  height: auto;
  position: relative;
}

.section5-wrapper::before {
  content: '';
  position: absolute;
  width: 200px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  background: linear-gradient(90deg, #F0F2FF 0%, #F0F2FF 46.81%, rgba(240, 242, 255, 0) 100%);
}

.section5-wrapper::after {
  content: '';
  position: absolute;
  width: 200px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background: linear-gradient(270deg, #F0F2FF 0%, #F0F2FF 46.81%, rgba(240, 242, 255, 0) 100%);
}

.section5-item {
  width: 100%;
  display: flex;
  gap: 0 32px;
  padding-left: 100px;
  margin-bottom: 32px;
}

.section5-item1 {
  width: 100%;
  display: flex;
  gap: 0 32px;
}

.section5-image {
  width: 132px;
  height: 132px;
  background: var(--backgroundfff);
  border: 1px solid #F0F0F0;
  border-radius: 4px;
  padding: 24px;
}

.section5-image img {
  width: 84px;
  height: 84px;
}

.box-section5-bottom {
  margin-top: 60px;
}

.box-section5-bottom button {
  padding: 12px 24px;
}

.box-section5-bottom button:hover {
  background: #fff;
  color: #5555FF;
  transition: all 0.2s;
}

/* phần .box-section6 */
.box-section6,
.box-section7,
.box-section10 {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding-block: 100px 140px;
}

.box-section6-content,
.box-section9-content {
  width: 100%;
  display: flex;
  margin-top: 80px;
  justify-content: space-between;
  gap: 0 40px;
}

.section6-item,
.section9-item,
.section10-item {
  width: 100%;
  max-width: 357.33px;
  height: 328px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.item6-image {
  margin-bottom: 24px;
  width: 100%;
  height: 148px;
}

.item6-image img {
  width: 100%;
}

.item6-content h3 {
  font-weight: var(--fontWeight600);
  font-size: var(--fontSize20);
  line-height: var(--line-height28);
  color: var(--color85);
  margin-bottom: 8px;
}

.item6-content p {
  text-align: center;
  color: var(--color85);
  margin-bottom: 24px;
}

.item6-content button {
  text-align: center;
  border: 0;
  color: var(--color55FF);
  padding: 12px 24px 12px 0;
  background-color: #FFFFFF;
  box-shadow: 0px;
}

/* phần .box-section7 */
.box-section7-content {
  width: 100%;
  height: auto;
  margin-top: 80px;
}

.box-content {
  width: 100%;
  height: auto;
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

.section7-item {
  width: 100%;
  max-width: 258px;
  height: auto;
  background: var(--backgroundfff);
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 2px;
}

.item-menu-icon {
  position: relative;
}

.item-menu-icon::before {
  position: absolute;
  content: '';
  width: 60px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: 100%;
  top: 24px;
  right: -9px;
  background-image: url(../image/badge-ribbon.png);
}

.item1 {
  width: 100%;
  height: auto;
  background: #FAFAFA;
  padding: 24px;
}

.item1 h3 {
  font-weight: var(--fontWeight600);
  font-size: var(--fontSize20);
  line-height: var(--line-height28);
  color: var(--color85);
  margin-bottom: 16px;
}

.item1 p {
  color: var(--color45);
  margin-bottom: 16px;
}

.item1-price {
  font-weight: var(--fontWeight600);
  font-size: var(--fontSize28);
  line-height: var(--line-height36);
  color: var(--color85);
}

.item1-month {
  font-family: var(--fontSFProDisplay);
  font-style: normal;
  font-weight: var(--fontWeight400);
  font-size: var(--fontSize16);
  line-height: var(--line-height24);
  color: var(--color45);
}

.item2 {
  width: 100%;
  margin-top: 12px;
  margin-bottom: 12px;
}

.menu-item1 {
  list-style: none;
}

.item-menu {
  padding: 12px 0px 12px 24px;
}

.item-menu img {
  padding-right: 9.62px;
}

.icon-menu {
  padding-right: 0px !important;
}

.item-menu a,
.item-menu span,
.item-menu p {
  color: var(--color85);
  text-decoration: none;
}

.box-section7-bottom {
  width: 100%;
  max-width: 263px;
  min-height: 96px;
  margin: 70px auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.box-section7-bottom p {
  font-family: var(--fontSFProText);
  font-weight: var(--fontWeight400);
  font-size: var(--fontSize12);
  line-height: var(--line-height20);
  text-align: center;
  padding: 0 10px;
  color: var(--color45);
}

/* phần box-section8 */
.box-section8 {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding-block: 100px 140px;
  background: var(--background942);
}

.box-section8-slide {
  margin: 80px 0 0 0;
}

.box-section8-center {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 48px 40px;
  justify-content: space-between;
}

.section8-item {
  width: 357px;
  height: 268px;
  display: flex;
  flex-direction: column;
  border: 1px solid #F0F0F0;
  border-radius: 2px;
}

.section8-item img {
  width: 100%;
  height: auto;
}

.item-desc {
  height: 68px;
  padding: 20px 24px;
  background: var(--backgroundfff);
}

.section8-item h3 {
  font-weight: var(--fontWeight600);
  font-size: var(--fontSize20);
  line-height: var(--line-height28);
  color: var(--color85);
}

.section8-item p {
  color: var(--color45);
  display: none;
}

.box-section8-center1 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}

/* phần box-section9 */
.box-section9-heading p {
  font-size: var(--fontSize18);
  line-height: var(--line-height28);
  text-align: center;
  color: var(--color85);
  display: none;
}

.box-section9-content {
  gap: 40px;
}

.section9-item {
  height: auto;
  background: var(--backgroundfff);
  border: 1px solid #F0F0F0;
  border-radius: 2px;
}

.item9-image {
  width: 100%;
  max-width: 357.33px;
  height: auto;
}

.item9-image img {
  max-width: 100%;
}

.item9-content {
  padding: 0 24px 24px;
}

.item9-name,
.item10-name {
  font-weight: var(--fontWeight600);
  font-size: var(--fontSize20);
  line-height: var(--line-height28);
  color: var(--color85);
}

.item9-job-position {
  font-family: var(--fontSFProText);
  font-style: normal;
  font-weight: var(--fontWeight400);
  font-size: var(--fontSize14);
  line-height: var(--line-height22);
  text-align: center;
  color: var(--color45);
}

.item9-desc {
  font-family: var(--fontSFProDisplay);
  font-style: normal;
  font-weight: var(--fontWeight400);
  font-size: var(--fontSize18);
  line-height: var(--line-height28);
  color: var(--color85);
  margin-top: 16px;
}

.box-section9-bottom button {
  margin-top: 60px;
  padding: 12px 26.5px;
}

.box-section9-bottom button:hover {
  background: #fff;
  color: #5555FF;
  transition: all 0.2s;
}

/* phần box-section10 */
.box-section10-heading h3 {
  margin-top: 20px;
  font-family: var(--fontSFProDisplay);
  font-style: normal;
  font-weight: var(--fontWeight400);
  font-size: var(--fontSize18);
  line-height: var(--line-height28);
  text-align: center;
  color: var(--color85);
}

.box-section10-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.box-section10-title h3 {
  font-weight: var(--fontWeight600);
  font-size: var(--fontSize28);
  line-height: var(--line-height36);
  text-align: center;
  color: var(--color85);
}

.section10-content {
  width: 100%;
  height: auto;
  margin: 60px 0;
  display: flex;
  justify-content: space-between;
  gap: 0 40px;
}

.section10-item {
  height: auto;
}

.item10-image {
  width: 100%;
  margin: 24px 0;
}

.item10-image img {
  width: 100%;
}

.section10-item p {
  text-align: center;
  color: var(--color85);
  padding: 0 15px;
}

.section10-button button {
  padding: 12px 22px;
}

.section10-button button:hover {
  background: #fff;
  color: #5555FF;
  transition: all 0.2s;
}

/* phần .box-section11 */
.box-section11 {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding-block: 60px;
  background: var(--background2FF);
}

.box11 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-section11-button button {
  margin-top: 40px;
  padding: 12px 21px;
}

.box-section11-button button:hover {
  background: #fff;
  color: #5555FF;
  transition: all 0.2s;
}

/* phần css footer */
.box-footer {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding-block: 80px 0;
  background: var(--background942);
}

.box-footer-top {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  gap: 120px;
  justify-content: space-between;
}

.footer-item {
  width: 100%;
  max-width: 178px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.footer-content {
  width: 100%;
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

.footer-item1 {
  width: 100%;
  max-width: 183px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.footer-item__image {
  width: 128px;
  height: 32px;
}

.footer-item__image img {
  width: 100%;
  height: auto;
}

.footer-item__title p {
  color: rgba(255, 255, 255, 0.6);
  margin-top: 20px;
}

.footer-item__heading h3 {
  font-weight: var(--fontWeight600);
  font-size: var(--fontSize20);
  line-height: var(--line-height28);
  color: #FFFFFF;
  margin-bottom: 20px;
}

.menu-footer {
  list-style: none;
}

.menu-footer-item {
  margin-bottom: 16px;
}

.menu-footer-item a {
  color: #FFFFFF;
  text-decoration: none;
}

.box-footer-bottom {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 72px;
  padding-block: 25px;
  box-shadow: inset 0px 1px 0px rgba(240, 240, 240, 0.2);
}

.box-footer-bottom p {
  font-family: var(--fontSFProText);
  font-style: normal;
  font-weight: var(--fontWeight400);
  font-size: var(--fontSize14);
  line-height: var(--line-height22);
  color: rgba(255, 255, 255, 0.6);
}

.footer-icon {
  width: 120px;
  height: auto;
  display: flex;
  justify-content: space-between;
}