/* Mobile */
@media (max-width: 768px) {
  .container {
    padding-inline: 15px;
  }

  .container1 {
    padding-inline: 15px;
  }

  /* phần .header */
  /* phần .menu */
  .menu {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    background-color: #16172c;
    top: 100px;
    left: -100%;
    transform: all 0.3s;
  }

  .menu .menu-item {
    margin: 20px 0;
  }

  .menu.show {
    left: 0;
    z-index: 999;
  }

  .menu-item a {
    color: #fff;
  }

  .header-buttom {
    display: none;
  }

  /* phần header right */
  .header-right {
    width: 100%;
    max-width: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
  }

  .search-box {
    padding: 7px 11px;
  }

  .header-buttom button {
    display: none;
  }

  .icon-menu-none {
    display: block;
  }

  /* phần box-section */
  .box-section {
    padding: 32px 0 80px 0;
  }

  .box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-items: center;
  }

  .box-section-left {
    flex: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title {
    font-size: 36px;
    line-height: 44px;
  }

  .sub-title {
    width: 100%;
    max-width: 295px;
    margin: 0 auto;
  }

  .box-section-center {
    height: 104px;
    padding: 16px 20px;
    gap: 20px;
  }

  .rank-section {
    text-align: left;
  }

  .rank-title {
    font-size: 18px;
    text-align: left;
  }

  /* phần css box section 1 */
  .box-section1,
  .box-section4,
  .box-section6,
  .box-section7,
  .box-section8,
  .box-section10,
  .box-section11,
  .box-footer {
    padding-block: 60px 80px;
  }

  .box-section1-heading h2 {
    font-size: 32px;
    line-height: 40px;
    text-align: left;
  }


  .box-section1-center {
    margin: 48px 0 0 0;
    justify-content: center;
  }

  .section1-item {
    width: 100%;
    height: auto;
    flex-direction: row;
    text-align: left;
    margin-bottom: 40px;
  }

  .item-icon {
    width: 48px;
    height: 45px;
    margin-right: 20px;
  }

  .item-icon img {
    width: 48px;
    height: 45px;
  }

  .item-content h3 {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 4px;
  }

  /* phần box-section2 */
  .box2 {
    overflow-x: hidden;
  }

  .box-section2 {
    padding-block: 60px 80px;
  }

  .box-section2-heading h2 {
    font-size: 32px;
    line-height: 40px;
  }

  .heading2 {
    display: none;
  }

  .heading1 {
    display: block;
  }

  .box-section2-bottom button {
    display: none;
  }

  .box-section2-bottom-none button {
    display: block;
    margin-top: 24px;
  }

  .box-section2-slide {
    width: 100%;
    height: auto;
    display: flex;
    margin: 48px -20px 0 -20px;
    padding-bottom: 60px;
  }

  .section2-item {
    width: 340px !important;
  }

  .item-img {
    width: 100%;
    height: auto;
  }

  .item-desc {
    height: 98px;
    padding: 20px 24px;
  }

  .item-desc h3 {
    font-size: 18px;
    line-height: 26px;
  }

  .item-desc p {
    display: block;
  }

  /* phần box-section3 */
  .box-section3 {
    padding-block: 60px 80px;
  }

  .box3,
  .box4 {
    flex: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .box4 {
    flex-direction: column-reverse;
  }

  /* phần .box-section3-left */
  .box-section3-left,
  .box-section4-right {
    flex: 100%;
    max-width: 500px;
    height: auto;
    margin-bottom: 48px;
  }

  .box-section3-heading h2,
  .box-section4-heading h2 {
    font-size: 32px;
    line-height: 40px;
  }

  .box-section3-center,
  .box-section4-center {
    margin-top: 48px;
  }

  .section3-item,
  .section4-item {
    margin-bottom: 40px;
  }

  .section3-item h3 {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.85);
    margin-bottom: 8px;
  }

  .section3-item p {
    font-family: 'SF Pro Display';
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.85);
  }

  .button {
    display: none;
  }

  .button-none {
    display: block;
  }

  /* phần box-section4 */
  .section4-item h3 {
    font-size: 16px;
    line-height: 24px;
  }

  /* phần box-section5 */
  .box-section5,
  .box-section9 {
    padding-block: 60px 80px;
  }

  .box-section5-heading h2 {
    font-size: 32px;
    line-height: 40px;
  }

  /* phần box-section5-wrapper */
  .box-section5-wrapper {
    margin-top: 33px;
  }

  .section5-wrapper::before {
    content: '';
    position: absolute;
    display: none;
  }

  .section5-wrapper::after {
    content: '';
    position: absolute;
    display: none;
  }

  .section5-item {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 0px;
    flex-wrap: wrap;
    padding-left: 0px;
    margin-bottom: 0px;
  }

  .section5-image {
    width: 72px;
    height: 72px;
    background: inherit;
    border: 1px solid #F0F0F0;
    border-radius: 4px;
    padding: 0;
    margin: 16px;
  }

  .section5-image img {
    width: 72px;
    height: 72px;
  }

  .section5-item1 {
    display: none;
  }

  .box-section5-bottom {
    margin-top: 48px;
  }

  /* phần .box-section6 */
  .box-section6-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 80px;
    gap: 40px 0;
    justify-content: center;
    align-items: center;
  }

  .section6-item {
    height: auto;
    text-align: center;
  }

  .item6-image {
    height: auto;
  }

  .item6-image img {
    margin-bottom: 16px;
    width: 100%;
  }

  .item6-content h3 {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 4px;
  }

  .item6-content p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
  }

  .item6-content button {
    color: rgba(0, 0, 0, 0.85);
    padding: 12px 24px;
    border: 1px solid #D9D9D9;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.016);
    border-radius: 2px;
  }

  /* phần .box-section7 */
  .box-section7-content {
    margin-top: 48px;
  }

  .box-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .section7-item {
    width: 100%;
    max-width: 335px;
    height: auto;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 2px;
  }

  .item1 {
    padding: 16px 24px;
  }

  .item1 h3 {
    font-size: 18px;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.85);
    margin-bottom: 8px;
  }

  .item1 p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
  }

  .item1-price {
    font-size: 24px;
    line-height: 32px;
  }

  .item1-month {
    font-size: 16px;
    line-height: 24px;
  }

  .item-menu span {
    font-weight: 700;
  }

  .box-section7-bottom button {
    padding: 12px 24px;
  }

  .box-section7-bottom {
    margin: 24px auto 0 auto;
  }

  /* phần box-section8 */
  .section8-item {
    height: auto;
  }

  .box-section8-heading h2 {
    font-size: 32px;
    line-height: 40px;
  }

  .box-section8-slide {
    margin: 48px 0 0 0;
  }

  .box-section8-center {
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px 20px;
  }

  /* phần .box-section9 */
  .box-section9 {
    padding-block: 60px;
  }

  .box-section9-heading h2 {
    text-align: center;
  }

  .box-section9-heading p {
    display: block;
  }

  .box-section9-content {
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    margin-top: 48px;
  }

  .section9-item {
    margin-bottom: 0;
  }

  .box-section9-bottom button {
    margin-top: 48px;
  }

  .item9-name {
    font-size: 18px;
    line-height: 26px;
  }

  .item9-desc {
    font-weight: 500;
  }

  /* phần .box-section10 */
  .box-section10-heading h2 {
    font-size: 32px;
    line-height: 40px;
  }

  .box-section10-content {
    margin-top: 48px;
  }

  .box-section10-title h3 {
    font-size: 24px;
    line-height: 32px;
  }

  .section10-content {
    margin: 40px 0 48px 0;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 40px 0;
    align-items: center;
    justify-content: center;
  }

  .item10-name {
    font-size: 20px;
    line-height: 28px;
  }

  .item10-image {
    width: 100%;
    margin: 16px 0;
  }

  .section10-button button {
    padding: 12px 24px;
  }

  /* phần .box-section11 */
  .box-section11-heading h2 {
    font-size: 24px;
    line-height: 32px;
  }

  .box-section11-button button {
    padding: 12px 24px;
  }

  /* phần css footer */
  .box-footer-top {
    flex-wrap: wrap;
    gap: 43px 0;
    justify-content: start;
  }

  .footer-item {
    width: 100%;
    max-width: 100%;
  }

  .footer-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 32px 20px;
    justify-content: start;
  }

  .footer-item1 {
    width: 100%;
    max-width: 157.5px;
  }

  .footer-item__heading h3 {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 18px;
  }

  .menu-footer-item {
    margin-bottom: 8px;
  }

  .menu-footer-item a {
    font-family: 'SF Pro Text';
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
  }

  .box-footer-bottom {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    padding-block: 40px 0;
  }

  .footer-icon {
    margin-top: 16px;
  }
}

/* Tablet */
@media (min-width: 769px) and (max-width: 1050px) {
  .container {
    padding-inline: 15px;
  }

  .container1 {
    padding-inline: 15px;
  }

  /* phần header */
  .header-wrapper {
    gap: 15px;
  }

  .box-logo img {
    width: 140px;
    height: 36px;
  }

  /* phần menu  */
  .menu {
    gap: 10px;
  }

  .menu-item a {
    font-size: 14px;
    line-height: 24px;
  }

  /* phần header right */
  .header-right {
    width: 100%;
    max-width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
  }

  .header-buttom button {
    padding: 6px 12px;
    font-size: 14px;
  }

  /* phần box-section */
  .box-section {
    padding: 32px 0 80px 0;
  }

  .box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-items: center;
  }

  .box-section-left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title {
    font-size: 36px;
    line-height: 44px;
  }

  .sub-title {
    width: 295px;
    margin: 0 auto;
  }

  .box-section-center {
    height: 104px;
    padding: 16px 20px;
    gap: 20px;
  }

  .rank-section {
    text-align: left;
  }

  .rank-title {
    font-size: 18px;
    text-align: left;
  }

  /* phần css box section 1 */
  .box-section1,
  .box-section4,
  .box-section6,
  .box-section7,
  .box-section8,
  .box-section10,
  .box-section11,
  .box-footer {
    padding-block: 60px 80px;
  }

  .box-section1-heading h2 {
    font-size: 32px;
    line-height: 40px;
    text-align: left;
  }

  .box-section1-center {
    margin: 48px 0 0 0;
    justify-content: center;
  }

  .section1-item {
    width: 100%;
    height: auto;
    flex-direction: row;
    text-align: left;
    margin-bottom: 40px;
  }

  .item-icon {
    margin-right: 20px;
  }

  .item-content h3 {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 4px;
  }

  /* phần box-section2 */
  .box-section2 {
    padding-block: 60px 80px;
  }

  .box-section2-heading h2 {
    font-size: 32px;
    line-height: 40px;
  }

  /* phần box-section3 */
  .box-section3 {
    padding-block: 60px 80px;
  }

  .box3,
  .box4 {
    flex: 100%;
    height: auto;
    display: flex;
    gap: 15px;
    justify-content: space-between;
  }

  /* phần .box-section3-left */
  .box-section3-left,
  .box-section4-right {
    flex: 50%;
    max-width: 350px;
    height: auto;
  }

  .box-section3-heading h2,
  .box-section4-heading h2 {
    font-size: 32px;
    line-height: 40px;
  }

  /* phần css .box-section3-right */
  .box-section3-right,
  .box-section4-left {
    max-width: 450px;
  }

  /* phần box-section5 */
  .box-section5,
  .box-section9 {
    padding-block: 60px 80px;
  }

  .box-section5-heading h2 {
    font-size: 32px;
    line-height: 40px;
  }

  /* phần box-section5-wrapper */
  .box-section5-wrapper {
    margin-top: 33px;
  }

  .section5-wrapper::before {
    content: '';
    position: absolute;
    width: 100px;
  }

  .section5-wrapper::after {
    content: '';
    position: absolute;
    width: 100px;
  }

  /* phần .box-section6 */
  .box-section6-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 80px;
    gap: 40px 0;
    justify-content: center;
    align-items: center;
  }

  .section6-item {
    height: auto;
    text-align: center;
  }

  .item6-image img {
    margin-bottom: 16px;
    width: 100%;
  }

  .item6-content h3 {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 4px;
  }

  .item6-content p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
  }

  .item6-content button {
    color: rgba(0, 0, 0, 0.85);
    padding: 12px 24px;
    border: 1px solid #D9D9D9;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.016);
    border-radius: 2px;
  }

  /* phần .box-section7 */
  .box-section7-content {
    margin-top: 48px;
  }

  .box-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .section7-item {
    max-width: 335px;
  }

  .item1 {
    padding: 16px 24px;
  }

  .item1 h3 {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 8px;
  }

  .item1 p {
    margin-bottom: 8px;
  }

  .item1-price {
    font-size: 24px;
    line-height: 32px;
  }

  .item1-month {
    font-size: 16px;
    line-height: 24px;
  }

  .item-menu span {
    font-weight: 700;
  }

  .box-section7-bottom button {
    padding: 12px 24px;
  }

  .box-section7-bottom {
    margin: 24px auto 0 auto;
  }

  /* phần box-section8 */
  .box-section8-heading h2 {
    font-size: 32px;
    line-height: 40px;
  }

  .box-section8-slide {
    margin: 48px 0 0 0;
  }

  .box-section8-center {
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px 20px;
  }

  /* phần .box-section9 */
  .box-section9 {
    padding-block: 60px;
  }

  .box-section9-heading h2 {
    text-align: center;
  }

  .box-section9-heading p {
    display: block;
  }

  .item9-name {
    font-size: 18px;
    line-height: 26px;
  }

  .item9-desc {
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
  }

  .box-section9-bottom button {
    margin-top: 48px;
  }

  /* phần .box-section10 */
  .box-section10-heading h2 {
    font-size: 32px;
    line-height: 40px;
  }

  .box-section10-content {
    margin-top: 48px;
  }

  .box-section10-title h3 {
    font-size: 24px;
    line-height: 32px;
  }

  .section10-content {
    width: 100%;
    height: auto;
    margin: 60px 0;
    gap: 0 20px;
    display: flex;
    justify-content: space-between;
  }

  /* phần .box-section11 */
  .box-section11-heading h2 {
    font-size: 24px;
    line-height: 32px;
  }

  .box-section11-button button {
    padding: 12px 24px;
  }

  /* phần css footer */
  .box-footer-top {
    flex-wrap: wrap;
    gap: 43px 0;
    justify-content: start;
  }

  .footer-item {
    width: 100%;
    max-width: 100%;
  }

  .footer-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 32px 20px;
    justify-content: start;
  }

  .footer-item1 {
    width: 100%;
    max-width: 157.5px;
  }

  .footer-item__heading h3 {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 18px;
  }

  .menu-footer-item {
    margin-bottom: 8px;
  }

  .menu-footer-item a {
    font-family: 'SF Pro Text';
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
  }

  .box-footer-bottom {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    padding-block: 40px 0;
  }

  .footer-icon {
    margin-top: 16px;
  }
}