* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Lato';
  src: url('../font/Lato-Semibold.woff2') format('woff2'),
    url('../font/Lato-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('../font/Lato-Regular.woff2') format('woff2'),
    url('../font/Lato-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  padding: 0;
  font-family: 'Lato';
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

#wrapper {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.block-title {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2px;
  color: #171719;
}

.block-sub-title {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 2px;
  color: #171719;
}

.heading {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  letter-spacing: 2px;
  color: #171719;
}

button {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 2px;
  color: #171719;
  padding: 12px 32px 12px 32px;
}

.container {
  width: 100%;
  max-width: 1340px;
  height: auto;
  margin: 0 auto;
}

.container1 {
  width: 100%;
  max-width: 1180px;
  height: auto;
  margin: 0 auto;
}

.box-top {
  width: 100%;
  height: auto;
  margin: 0 auto;
  background: #171719;
}

.box {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box p {
  color: #FFFFFF;
}

.box-select {
  border: 0;
  background: #171719;
  color: #FFFFFF;
}

/* phần header */
.header {
  width: 100%;
  height: auto;
  margin: 0 auto;
  background: #acacae;
  padding-block: 20px;
}

.header-wrapper {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-logo {
  width: 138.68px;
  height: 70px;
}

.img-logo {
  width: 100%;
  height: auto;
}

/* phần .box-menu */
.box-menu {
  width: 100%;
  max-width: 791px;
  height: 24px;
}

.menu-list {
  width: 100%;
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-menu {
  list-style: none;
}

.item-menu a {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 2px;
  text-decoration: none;
  color: #171719;
}

/* phần .box-icon */
.box-icon {
  width: 155px;
  height: 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-icon a,
.item-icon img,
.item-icon {
  width: 20px;
  height: 20px;
  color: #FFFFFF;
}

/* =====SLIDE SHOW===== */
.box-section {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

.slideshow-container {
  width: 100%;
  height: auto;
  margin: 0 auto;
  position: relative;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  font-size: 22px;
}

.prev {
  left: 57px;
  border-radius: 3px 0 0 3px;
}

.next {
  right: 57px;
  border-radius: 3px 0 0 3px;
}

.text {
  color: #FFFFFF;
  position: absolute;
  bottom: 118px;
  left: 130px;
}

.button {
  background: #FFFFFF;
  position: absolute;
  bottom: 50px;
  left: 130px;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* phần section1 */
.section1 {
  padding-block: 100px;
}

.box1,
.box5 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section1-content {
  width: 100%;
  height: auto;
  margin-top: 45px;
  gap: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section1-item {
  width: 100%;
  max-width: 280px;
  height: 360px;
  position: relative;
  display: flex;
  justify-content: center;
}

.title {
  position: absolute;
  bottom: 30px;
  margin: 0 auto;
  text-align: center;
  background: #FFFFFF;
  width: 125px;
  height: 50px;
  padding: 13px 0;
}

/* phần box section tiếp theo */
.box2 {
  width: 100%;
  height: auto;
  display: flex;
}

.box2-left {
  width: 593px;
  height: 593px;
}

.box2-right {
  width: 590px;
  height: 590px;
  background: #F5F5F5;
  padding: 133px 90px;
}

.title1 {
  margin-top: 20px;
  color: #84848E;
  letter-spacing: 0px;
}

.button1 {
  margin-top: 70px;
  background: #FFFFFF;
  border: 0;
}

/* phần .box3 */
.box3 {
  width: 100%;
  height: auto;
  margin-left: -45px;
  text-align: center;
}

.section3-item {
  width: 100%;
  max-width: 280px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px 0;
}

.box-img {
  position: relative;
}

.section3-item__img {
  width: 100%;
  height: auto;
}

.box-img::before {
  position: absolute;
  content: '';
  width: 20px;
  height: 17.5px;
  background-image: url(../image/love.png);
  background-repeat: no-repeat;
  background-size: 100%;
  top: 20px;
  right: 20px;
}

.section3-item__title {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px 0;
}

.title2 {
  color: #555562;
  letter-spacing: 0px;
}

.section3-item__button {
  height: 48px;
  background: #FFFFFF;
  border: 1px solid #171719;
}

/* phần .box4 */
.box4 {
  width: 100%;
  height: auto;
  margin: 0 auto;
  position: relative;
}

.section4-content {
  width: 327px;
  height: 152px;
  position: absolute;
  /* top: 269px;
  bottom: 269px; */
  top: 50%;
  margin-top: -77px;
  left: 130px;
}

.section4-content h2 {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 2px;
  color: #FFFFFF;
}

.section4-content a {
  text-decoration: none;
}

.title3 {
  margin-top: 30px;
  color: #FFFFFF;
}

/* phàn .box5 */
.section2 {
  padding-block: 100px;
  background: #F5F5F5;
}

.section5-item {
  width: 100%;
  max-width: 280px;
  height: auto;
  background: #FFFFFF;
  padding: 50px 20px;
}

.box-item {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.box-item img {
  width: 40px;
  height: 40px;
  margin-bottom: 30px;
}
.box-item h2 {
  margin-bottom: 5px;
}
.title5 {
  color: #84848E;
  letter-spacing: 0px;
  margin-bottom: 30px;
}