@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root {
    --font-size15: 0.938rem;
    /*font-size: 15px;*/
    --font-size18: 1.125rem;
    /*font-size: 18px;*/
    --font-size20: 1.25rem;
    /*font-size: 20px;*/
    --font-size25: 1.563rem;
    /*font-size: 25px;*/
    --font-size30: 1.875rem;
    /*font-size: 30px;*/
    --font-size35: 2.188rem;
    /*font-size: 35px;*/
    --font-size60: 3.75rem;
    /* font-size: 60px; */
    --background-color714: #F49714;
    --background-color165: #4BB165;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#wrapper {
    width: 100%;
    height: auto;
    margin: auto;
    overflow-x: hidden;
}

.header-content {
    position: relative;
    background-image: url(../image/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 186px;
}

.header-content::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 30%);
}

.container {
    position: relative;
    width: 100%;
    max-width: 1306px;
    height: auto;
    margin: 0 auto;
    padding-inline: 10px;
}

.container1 {
    width: 100%;
    max-width: 1320px;
    height: auto;
    margin: 0 auto;
    padding-inline: 10px;
}

.header {
    width: 100%;
    height: auto;
    margin: auto;
}

.header-top {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 48px 0;
    display: flex;
    justify-content: space-between;
}

.box-logo img {
    width: 100%;
    margin: 0;
}

/* phầm css menu */
.menu-center {
    width: 100%;
    max-width: 667px;
    min-height: 90px;
    margin: auto 0;
}

.icon-menu-none {
    display: none;
    margin: auto 0;
    font-size: 30px;
    padding-right: 20px;
}

.box-menu-top-mobile {
    display: none;
}

.box-menu-top {
    display: block;
}

.header__box-right {
    display: block;
}

/* menu top */
.box-menu-top {
    width: 100%;
    height: 45px;
    margin: 0 auto;
}

.menu-top {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
}

.menu-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

.icon-menu {
    width: 40px;
    height: 40px;
    margin-right: 14px;
}

/* menu bottom */
.box-menu-bottom {
    width: 100%;
    height: 45px;
    margin: 0 auto;
}

.menu-bottom {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: space-evenly;
    line-height: 2;
}

.menu-item {
    position: relative;
}

.menu-item-bottom {
    display: flex;
    font-size: var(--font-size25);
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

.menu-bottom li:hover .sub-menu {
    z-index: 1;
    opacity: 1;
}

/* phần menu con */
.sub-menu {
    width: 150px;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: -1;
    opacity: 0;
    transition: opacity linear 0.15s;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255);
}

.sub-menu li {
    display: block;
    font-size: var(--font-size18);
}

.sub-menu li a {
    padding: 10px 10px;
    text-align: center;
    display: block;
    text-decoration: none;
    color: #000;
}

/* phần css button right */
.header__box-right {
    margin: auto 0;
}

.nut,
.submit {
    border-radius: 10px;
    border: 0;
    padding: 15px 35px;
    background-color: var(--background-color714);
    color: #fff;
    font-size: var(--font-size20);
    font-weight: 500;
    letter-spacing: 3px;
}

/* phần header center */
.header-center {
    width: 100%;
    height: auto;
    margin: 150px auto 0 auto;
    display: flex;
    justify-content: space-between;
}

/* phần css header title */
.header-title {
    width: 100%;
    max-width: 600px;
}

.title {
    width: 300px;
    min-height: 45px;
    font-size: var(--font-size20);
    font-weight: 500;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

.title1 {
    width: 100%;
    height: auto;
    font-size: var(--font-size60);
    font-weight: 500;
    letter-spacing: 9px;
    position: relative;
    margin-bottom: 43px;
}

.title1::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    left: 0;
    bottom: -10px;
    transform: rotate(0.47deg);
    background-color: var(--background-color165);
}

.title1::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    left: -20px;
    bottom: -3px;
    transform: rotate(0.48deg);
    background-color: var(--background-color165);
}

.title2 {
    font-size: var(--font-size30);
    font-weight: 500;
    letter-spacing: 4.5px;
}

.header__box-right--none {
    display: none;
}

/* phần css form */
.header-form {
    width: 448px;
    height: 515px;
}

.form {
    width: 100%;
    height: 515px;
    background: #fff;
    border-radius: 10px;
}

.title-form {
    padding-top: 40px;
    padding-bottom: 28px;
    font-size: var(--font-size20);
    font-weight: 500;
    letter-spacing: 3px;
    padding-left: 64px;
}

.box-form {
    margin: 0 58px 20px 48px;
}

input[type=text],
input[type=email] {
    width: 100%;
    height: 54px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #C4C4C4;
}

span {
    color: red;
}

.submit {
    margin-left: 67px;
}

/* phần box content */
.box-content {
    background-image: url(../image/Line-5.png);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: bottom left;
    padding-bottom: 1px;
}

.box {
    width: 100%;
    max-width: 1250px;
    height: auto;
    margin: 108px auto;
}

.box-name {
    width: 100%;
    height: auto;
    text-align: center;
}

.heading {
    font-size: var(--font-size60);
    font-weight: 500;
    text-align: center;
    padding: 0 0;
    letter-spacing: 9px;
}

.content-box {
    width: 100%;
    height: auto;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section-box {
    flex: 0 0 50%;
    min-height: 295px;
    margin-bottom: 50px;
}

.section-box_title {
    min-height: 90px;
    font-size: var(--font-size30);
    font-weight: 500;
    line-height: 35px;
    letter-spacing: 4.5px;
    padding-right: 50px;
}

.section-box__desc {
    width: 100%;
    max-width: 85%;
    font-weight: 400;
    min-height: 120px;
    font-size: var(--font-size20);
    letter-spacing: 2px;
    line-height: 28px;
}

.section-box__button {
    min-height: 50px;
    background: var(--background-color714);
    color: #fff;
    border: 0;
    border-radius: 10px;
    font-size: var(--font-size20);
    letter-spacing: 3px;
    padding: 12px 30px;
}


/* phần box tiếp theo */
.box-content1 {
    background-image: url(../image/Line-6.png);
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: bottom right;
}

.box1 {
    width: 100%;
    max-width: 1320px;
    min-height: 841px;
    margin: 175px 0 0 0;
}

.heading1 {
    font-size: var(--font-size60);
    font-weight: 500;
    text-align: center;
    letter-spacing: 9px;
}

.content-box1 {
    flex: 100%;
    height: auto;
    margin: 164px auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section-box1 {
    flex: 0 0 30%;
    min-height: 411px;
    margin-bottom: 50px;
}

.section-box__img {
    width: 112px;
    margin-left: 96px;
    margin-bottom: 26px;
}

.section-box_title1 {
    margin-bottom: 25px;
    font-size: var(--font-size30);
    font-weight: 500;
    letter-spacing: 4.5px;
}

.section-box__desc1 {
    font-size: var(--font-size20);
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    padding-right: 25px;
}

.box__desc1 {
    padding-right: 60px;
}

.box__desc2 {
    padding-right: 45px;
}

/* phần box tiếp theo */
.box2 {
    width: 100%;
    max-width: 1202px;
    height: auto;
    margin: 0 auto;
}

.content-box2 {
    width: 100%;
    height: auto;
    margin: 106px auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.section_box2 {
    width: 100%;
    max-width: 571px;
    min-height: 702px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #4BB165;
    border-radius: 10px;
    text-align: center;
}

.section-box__img1 {
    width: 100%;
    max-width: 380px;
    min-height: 279px;
    margin-bottom: 35px;
    border-radius: 10px;
}

.section-box_title2 {
    min-height: 35px;
    font-weight: 500;
    font-size: var(--font-size30);
    line-height: 35px;
    letter-spacing: 0.15em;
    margin-top: 35px;
    margin-bottom: 35px;
    color: #3D433F;
}

.section-box__desc2 {
    width: 455px;
    height: 227px;
    font-size: var(--font-size20);
    letter-spacing: 2px;
    line-height: 28px;
    font-weight: 400;
}

.section-box__button1 {
    border: 0;
    background: var(--background-color714);
    border-radius: 10px;
    font-weight: 500;
    font-size: var(--font-size20);
    line-height: 23px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 85px auto 63px auto;
    padding: 14px 30px;
}

/* phần box tiếp theo */
.box-content3 {
    width: 100%;
    min-height: 298px;
    margin: 0 auto;
    display: flex;
    background: #F1F1F1;
}

.box3 {
    width: 100%;
    max-width: 1306px;
    min-height: 82px;
    margin: 108px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
}

.section-box__img2 {
    width: 100%;
}

/* phần box tiếp theo */
.box-content4 {
    background-image: url(../image/Line-5.png);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: bottom left;
}

.box4 {
    padding-block: 143px 276px;
}

.content-box3 {
    margin-top: 147px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 61px;
    position: relative;
}

.section_box3 {
    padding: 100px 38px 77px 60px;
    border-radius: 10px;
    box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.06), -4px -4px 25px rgba(0, 0, 0, 0.06);
}

.section-box__img3 {
    margin-bottom: 28px;
}

.section-box__desc3 {
    width: 100%;
    max-width: 90%;
    font-weight: 400;
    font-size: var(--font-size20);
    line-height: 28px;
    letter-spacing: 0.1em;
    margin-bottom: 10px;
    color: #000000;
}

.section-box__title {
    font-weight: 500;
    font-size: var(--font-size30);
    line-height: 35px;
    letter-spacing: 0.15em;
    color: #3D433F;
}

/* Phần box tiếp theo */
.section-content {
    width: 100%;
    height: auto;
    margin: 180px auto;
    position: relative;
}

.content-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    gap: 62px;
}

.section-box4 {
    width: 488px;
    height: auto;
}

.section-box__img4 {
    width: 100%;
}

.section-box5 {
    width: 100%;
    height: auto;
    margin-top: 180px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.section-box__title4 {
    font-weight: 500;
    font-size: var(--font-size60);
    line-height: 70px;
    letter-spacing: 0.15em;
    color: #000000;
}

.section-box__button5 {
    padding: 15px 35px;
    border-radius: 10px;
    background-color: var(--background-color714);
    color: #fff;
    border: 0;
    font-size: var(--font-size20);
    font-weight: 500;
    letter-spacing: 3px;
}

.content-wrapper::before {
    position: absolute;
    content: '';
    width: 587.02px;
    height: 6px;
    left: 1178px;
    top: 30px;
    background-color: var(--background-color165);
    transform: rotate(5.92deg);
}

.content-wrapper::after {
    position: absolute;
    content: '';
    width: 587.02px;
    height: 6px;
    left: 1118px;
    top: 35px;
    background-color: var(--background-color165);
    transform: rotate(5.92deg);
}

/* phần footer */
.section-footer {
    height: auto;
    background-color: #f1f1f1;
}

.footer {
    padding-bottom: 43px;
}

.footer-logo {
    padding-block: 46px;
}

.footer-img {
    width: 155px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-contact {
    margin-bottom: 34px;
}

.footer-title {
    font-weight: 500;
    font-size: var(--font-size30);
    line-height: 35px;
    letter-spacing: 0.15em;
    color: #3D433F;
    margin-bottom: 22px;
}

.footer-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.footer-desc {
    font-weight: 600;
    font-size: var(--font-size18);
    line-height: 21px;
    letter-spacing: 0.15em;
    color: #000000;
    margin-bottom: 10px;
}

.footer__link,
.footer__end {
    font-weight: 500;
    font-size: var(--font-size20);
    line-height: 23px;
    letter-spacing: 0.15em;
    color: #000000;
    text-decoration: none;
}

.footer__data {
    margin-bottom: 102px;
}

.footer__social {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-bottom {
    text-align: center;
    padding: 62px 0;
}