@font-face {
    font-family: 'Be Vietnam';
    src: url('BeVietnam-Regular.woff2') format('woff2'),
        url('BeVietnam-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

